* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body a {
  text-decoration: none; }

body a:hover {
  text-decoration: none; }

body h1, body h2, body h3, body h4, body h5, body h6 {
  font-family: 'Raleway', sans-serif; }

body section {
  padding: 60px 0;
  overflow: hidden; }

body .section_title {
  padding-bottom: 30px; }

body .section_title p {
  margin-bottom: 0;
  font-family: 'Open Sans', sans-serif;
  color: #444444; }

body .section_title h2 {
  font-weight: bold;
  font-size: 30px;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative; }

body #hero {
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../thumb.jpg);
  background-position: center;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin-bottom: 50%; }

body #hero.container {
  padding-top: 80px; }

body #hero h1 {
  font-size: 32px;
  font-weight: 700;
  line-height: 36px;
  color: #fff;
  margin: 10% 25px 10px 5px; }

body #hero .btn_get_started {
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 28px;
  border-radius: 50px;
  margin: 13px 40px 40px 0px;
  border: 2px solid #fff;
  background-color: transparent;
  color: #fff;
  transition: 0.6s all; }

body #hero .btn_get_started:hover {
  background-color: #2ed6ec;
  border: 2px solid #2ed6ec; }

body .slidecontainer {
  width: 100%;
  height: 128vh;
  background: #222;
  display: flex;
  align-items: center;
  justify-content: center; }

body .swiper {
  width: 80%;
  height: fit-content; }

body .swiper-slide img {
  width: 100%;
  height: fit-content;
  margin-top: 8%; }

body .swiper .swiper-button-prev, body .swiper .swiper-button-next {
  color: #fff; }

body .swiper .swiper-pagination-bullet-active {
  background: #fff; }

body #testimonials {
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../test.jpg);
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; }

body .testimonial .testimonial_item {
  padding: 30px;
  margin: 30px 15px;
  text-align: center;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.8);
  background-color: #fff; }

body .testimonial .testimonial_item p {
  font-size: 15px; }

body .testimonial .testimonial_item i {
  font-size: 15px;
  color: #00cc95; }

body .testimonial .testimonial_item .testimonial_img {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  margin: 0 auto; }

body .testimonial .testimonial_item h3 {
  font-size: 18px;
  font-weight: 700;
  margin: 10px 0 5px 0;
  color: #111; }

body .testimonial .testimonial_item h4 {
  font-size: 14px;
  color: #999;
  margin: 0; }

body .testimonial .testimonial_slider {
  display: flex;
  align-items: center; }

body #contact {
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../contact.jpg);
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; }

body .contact .container .info {
  padding: 30px;
  background-color: #fff;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.8);
  display: flex; }

body .contact .container .info_inner {
  padding-left: 15px; }

body .contact .info i {
  font-size: 22px;
  color: #fff;
  width: 44px;
  height: 44px;
  background-color: #0d7c53;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: 0.3s ease-in-out; }

body .contact .container .info_inner h4 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #36343a; }

body .contact .container .info_inner p {
  margin-bottom: 0;
  font-size: 14px;
  color: #686470;
  font-family: 'Open Sans', sans-serif; }

body .img
form {
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: gray 1px solid;
  padding: 20px 10px;
  margin: 75px 30px 80px 60px;
  border-radius: 6px;
  gap: 10px; }
  body .img
form h3 {
    text-align: center;
    text-transform: uppercase;
    color: #073c68d7; }
  body .img
form .input-group input, body .img
form .input-group textarea {
    width: 100%;
    padding: 10px 15px;
    border: #ccc 1px solid;
    border-radius: 6px;
    font-family: 'Raleway', sans-serif; }
  body .img
form .btn {
    display: flex;
    justify-content: center; }
    body .img
form .btn button {
      display: flex;
      width: 48%;
      justify-content: center;
      padding: 15px 30px;
      background-color: #24ccd8;
      outline: none;
      border: none;
      color: #fff;
      font-weight: 700;
      border-radius: 6px;
      margin-top: 10px; }
      body .img
form .btn button:hover {
        background-color: #0d8d96; }

body #navigation {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding: 15px 0;
  transition: 0.5s all; }

body #navigation .logo {
  padding: 17px 30px 7px 0px; }

body #navigation .logo a {
  font-size: 26px;
  padding: 0;
  line-height: 1;
  font-weight: 700;
  color: #36343a;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif; }

body #navigation #navbarNavDropdown {
  background-color: #fff;
  justify-content: right; }

body #navigation #navbarNavDropdown a {
  display: block;
  position: relative;
  color: #36343a;
  padding: 10px 10px 10px 10px;
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
  transition: 0.3s all; }

body #navigation #navbarNavDropdown a:hover {
  color: #24ccd8;
  text-decoration: none; }

body #navigation #login a {
  background-color: #24ccd8;
  color: #36343a;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 0 8px; }

body #navigation #login a:hover {
  background-color: #0d8d96;
  color: #36343a; }

body #navigation #navbarNavDropdown .nav-link.active {
  color: #24ccd8; }

body #navigation #login .nav-link.active {
  color: #fff; }

body #navigation .logo i {
  padding-right: 8px; }

body #navigation .navbar-toggler span {
  margin-right: 0px; }

body #back {
  width: 100%;
  height: 135vh;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../Login.jpg);
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; }

body .form-box {
  width: 350px;
  height: 480px;
  position: relative;
  margin: 12% auto;
  background-color: rgba(94, 93, 93, 0.3);
  padding: 10px;
  overflow: hidden; }

body .button-box {
  width: 30%;
  right: 11px;
  margin: 35px auto;
  position: relative;
  border-radius: 30px; }

body .toggle-btn {
  padding: 10px 30px;
  cursor: pointer;
  background: transparent;
  color: #fff;
  border: 0;
  outline: none;
  position: relative; }

body #btn {
  top: 0;
  left: 0;
  position: absolute;
  width: 110px;
  height: 100%;
  background-color: rgba(94, 93, 93, 0.3);
  border-radius: 30px;
  transition: .5s; }

body #login .submit-btn:hover {
  color: #000; }

body #login {
  left: 50px; }

body .input-group-login {
  top: 150px;
  color: #a3a0a0;
  position: absolute;
  width: 250px;
  transition: .5s; }

body .input-field {
  width: 100%;
  padding: 10px 0;
  margin: 5px 0;
  border-left: 0;
  border-top: 0;
  border-right: 0;
  border-bottom: 1px solid #999;
  color: #fff;
  outline: none;
  background: transparent; }

body .submit-btn {
  width: 85%;
  padding: 10px 30px 10px 28px;
  cursor: pointer;
  display: block;
  margin: auto;
  background-color: rgba(94, 93, 93, 0.3);
  color: #fff;
  border: 0;
  outline: none;
  border-radius: 30px; }

body .check-box {
  margin: 20px 5px 34px 0; }

body span.form-span {
  color: #777;
  font-size: 12px;
  bottom: 115px;
  left: 20px;
  position: absolute; }

body form .signup-link {
  text-align: center;
  padding-top: 15px;
  padding-left: 3px; }

body form .signup-link a {
  color: #3498db;
  text-decoration: none; }

body form .signup-link a:hover {
  text-decoration: underline; }

@media only screen and (max-width: 991px) {
  body {
    overflow-x: hidden; }
    body #navigation {
      background-color: #24ccd8;
      top: 0;
      box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1); }
    body #navigation #navbarNavDropdown {
      background-color: #fff; }
    body #navigation #navbarNavDropdown .dropdown-item {
      background-color: #fff; }
    body #navigation #navbarNavDropdown .navbar_nav {
      padding-bottom: 15px; }
    body #navigation .logo {
      padding: 17px 0 17px 0; }
    body #navigation .container {
      padding-right: 15px;
      padding-left: 15px; }
    body #navigation #navbarNavDropdown a {
      color: #36343a;
      text-align: center; }
    body #navigation #navbarNavDropdown a:hover {
      color: #24ccd8; }
    body #navigation .navbar-toggler span {
      color: #262727;
      font-size: 21px;
      position: fixed;
      top: 36px;
      right: 20px; }
    body #navigation .navbar-toggler span:focus {
      outline: none; }
    body #navigation #navbarNavDropdown .nav-link.active {
      color: #24ccd8; }
    body #navigation #login .nav-link.active {
      color: #fff; }
    body #navigation #login a:hover {
      color: #fff;
      background-color: #0d8d96; }
    body #contact {
      min-width: 0px;
      background-position: center; }
    body #testimonials {
      min-width: 0px;
      background-position: center; }
    body .contact .container .boxes {
      min-width: 0px;
      margin-left: 10px;
      width: 190%; }
    body .img
form {
      min-width: 0px;
      margin-left: 7px;
      width: 47%; }
    body .contact .container .boxes .para {
      max-width: 50%;
      padding-right: 10px; }
    body .testimonial .container .testimonial_item {
      margin-left: 2px; }
    body .testimonial .testimonial_slider {
      display: inline; }
    body #back {
      background-position: center; }
    body .ct-footer-list h2 {
      padding-left: 10px; }
    body .ct-footer-list li {
      padding-left: 10px;
      font-size: 18px; }
    body .ct-footer-list ul {
      padding-bottom: 50px; }
    body .ct-footer-list {
      margin-top: 30px; }
    body .ct-footer-pre p {
      padding-left: 20px; }
    body .ct-footer .inner .form-group {
      margin-left: 20px; }
    body .ct-footer .inner .form-group input {
      margin: 0px 0px 5px 0px;
      display: block; }
    body .ct-footer .inner p {
      font-size: 18px;
      padding-left: 20px; }
    body .ct-footer .inner .form-group button {
      font-size: 19px;
      width: 67px;
      height: 37px; }
    body .ct-footer .inner-right p {
      padding-left: 27px; }
    body .ct-footer .inner-right .social {
      padding-left: 22px; }
    body .ct-footer .inner-right .policy {
      margin-top: 20px; } }

@media (min-width: 1200px) {
  body .ct-footer-pre {
    display: table; }
  body .ct-footer-pre > .inner {
    display: table-cell;
    vertical-align: middle; }
  body .ct-footer-list > li {
    width: 20%;
    display: table-cell;
    vertical-align: top; }
  body .ct-footer-list > li:last-child {
    width: 7%; } }

@media (max-width: 1199px) {
  body .ct-footer-pre .form-group {
    padding-top: 15px;
    padding-bottom: 30px; } }

body button:focus,
body .navbar-toggler:focus {
  outline: 0;
  box-shadow: none; }

body #course1 {
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../course.jpg);
  background-position: center;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; }

body .container1 h1 {
  margin-top: 100px;
  margin-bottom: 20px;
  padding-left: 25px;
  color: #542b6e; }

body .container1 p {
  font-size: 17px;
  padding: 10px 10px 10px 25px; }

body .container1 h2 {
  color: #7060b1;
  padding-top: 10px;
  padding-left: 25px; }

body .container1 ul {
  font-size: 17px;
  padding-left: 25px; }

body .container1 .btn {
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 28px;
  border-radius: 50px;
  margin: 20px 40px 40px 25px;
  border: 2px solid #7060b1;
  background-color: #7060b1;
  color: #fff;
  transition: 0.6s all; }

body .container1 .btn:hover {
  background-color: #342a5a;
  border: 2px solid #342a5a; }

body #course2 {
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../course.jpg);
  background-position: center;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; }

body .container2 h1 {
  margin-top: 100px;
  margin-bottom: 20px;
  padding-left: 25px;
  color: #542b6e; }

body .container2 p {
  font-size: 17px;
  padding: 10px 10px 10px 25px; }

body .container2 h2 {
  color: #7060b1;
  padding-top: 10px;
  padding-left: 25px; }

body .container2 ul {
  font-size: 17px;
  padding-left: 25px; }

body .container2 .btn {
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 28px;
  border-radius: 50px;
  margin: 20px 40px 40px 25px;
  border: 2px solid #7060b1;
  background-color: #7060b1;
  color: #fff;
  transition: 0.6s all; }

body .container2 .btn:hover {
  background-color: #342a5a;
  border: 2px solid #342a5a; }

body #course3 {
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../course.jpg);
  background-position: center;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; }

body .container3 h1 {
  margin-top: 100px;
  margin-bottom: 20px;
  padding-left: 25px;
  color: #542b6e; }

body .container3 p {
  font-size: 17px;
  padding: 10px 10px 10px 25px; }

body .container3 h2 {
  color: #7060b1;
  padding-top: 10px;
  padding-left: 25px; }

body .container3 ul {
  font-size: 17px;
  padding-left: 25px; }

body .container3 .btn {
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 28px;
  border-radius: 50px;
  margin: 20px 40px 40px 25px;
  border: 2px solid #7060b1;
  background-color: #7060b1;
  color: #fff;
  transition: 0.6s all; }

body .container3 .btn:hover {
  background-color: #342a5a;
  border: 2px solid #342a5a; }

body .container .icon-wrapper {
  margin: 10px 10px 10px 10px;
  align-items: center;
  padding-top: 100px; }

body .container h3 {
  font-weight: 600;
  color: #36343a; }

body .container p {
  padding-top: 15px;
  font-size: 18px;
  color: #444444;
  justify-content: space-evenly; }

body #about {
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../pexels.jpg);
  background-position: center;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; }

body .about-info {
  padding: 10% 10px 10% 35%;
  font-size: 26px;
  color: #36343a;
  background-color: #d6dfe7; }

body a,
body a:hover,
body a:focus,
body a:active {
  text-decoration: none;
  color: inherit; }

body .ct-footer {
  background-color: #111;
  padding-top: 40px;
  margin-top: 20%;
  position: relative; }

body .ct-footer-pre {
  width: 100%;
  padding-bottom: 50px;
  border-bottom: 1px solid #555;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1); }

body .ct-footer-pre p {
  font-family: 'Open Sans Condensed', sans-serif;
  color: #ebebeb;
  font-size: 25px; }

body .ct-footer-pre .form-group {
  position: relative;
  margin: 0; }

body .ct-footer-pre .form-group:before,
body .ct-footer-pre .form-group:after {
  content: '';
  display: table; }

body .ct-footer-pre .form-group input {
  border: 1px solid #00bff3;
  background-color: #333;
  color: #fff;
  height: 40px;
  padding: 0 30px;
  margin: 0 5px 0 0px;
  border-radius: 0 !important; }

body .ct-footer-pre .form-group button {
  height: 40px;
  font-size: 20px;
  position: absolute;
  width: 70px;
  padding: 0;
  margin-bottom: 6px;
  margin-right: 10%; }

body .ct-footer-list {
  padding: 15px 0 30px 0;
  list-style: none;
  padding-left: 0;
  display: table;
  width: 100%;
  border-bottom: 1px solid #555;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1); }

body .ct-footer-list > li .ct-footer-list-header {
  font-family: 'Open Sans Condensed', sans-serif;
  color: #00bff3;
  font-size: 30px; }

body .ct-footer-list > li ul {
  list-style: none;
  padding-left: 0; }

body .ct-footer-list > li ul li a {
  color: #fff; }

body .ct-footer-list > li ul li a:hover,
body .ct-footer-post a:hover {
  text-decoration: underline; }

body .ct-footer .inner-right {
  color: #49474d;
  font-size: 15px; }

body .ct-footer .inner-right .policy {
  margin-left: 18%;
  margin-right: 20px; }

body .ct-footer .inner-right .policy a {
  color: #0f667e; }

body .ct-footer .inner-right .social {
  display: flex;
  margin-left: 4px; }

body .ct-footer .inner-right .social a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #00bff3;
  margin: 3px 3px 13px 2px;
  transition: 0.3s ease-in-out; }

body .ct-footer .inner-right .social a:hover {
  background-color: #0c6e8a;
  color: #fff; }

body .btn {
  font-family: 'Open Sans Condensed', sans-serif;
  border-radius: 0;
  border: none;
  text-transform: uppercase;
  color: #111;
  font-size: 26px;
  padding: 12px 30px; }

body .btn.btn-motive {
  background-color: #00bff3;
  -webkit-transition: all .25s ease;
  transition: all .25s ease; }

body .btn.btn-motive:hover {
  background-color: #0c6e8a;
  color: #000; }
